<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/mystyle.css">
  <link href="static/nv.d3.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/chosen.css">
</head>

<body>

<div id="left">

  <table id='filtertable_left'>
    <tr>
      <td>Age Start</td>
      <td>Age End</td>
      <td>Gender</td>
      <td>Education</td>
      <td>Country</td>
      <td><select id='groupby'>
      <option selected="selected">-Group By-</option>
      <option>Gender</option>
      <option>Education</option>
      </select></td>
    </tr>
    <tr>
      <td><input type='text' id = 'age_start_left' value = 1 /></td>
      <td><input type='text' id = 'age_end_left' value = 125 /></td>
      
      <td><select id='gender_left'>
      <option value="0">All</option>
      <option value="1">Male</option>
      <option value="2">Female</option>

      </select></td>

      <td><select id='education_left'>
      <option value="0">Discard</option>
      <option value="1">Some primary</option>
      <option value="2">Finished primary</option>
      <option value="3">Some secondary</option>
      <option value="4">Finished secondary</option>

      </select></td>
<td>
<select id="country_left" name="country_left" data-placeholder="Choose a Country..." class="chosen-select" multiple style="width:150px;" tabindex="4">
                  <option value=0 > All countries</option>
                  <option value=1 > Afghanistan</option>
                  <option value=2 > Albania</option>
                  <option value=3 > Algeria</option>
                  <option value=4 > Andorra</option>
                  <option value=5 > Angola</option>
                  <option value=6 > Antigua and Barbuda</option>
                  <option value=7 > Argentina</option>
                  <option value=8 > Armenia</option>
                  <option value=9 > Austraoptiona</option>
                  <option value=10 > Austria</option>
                  <option value=11 > Azerbaijan</option>
                  <option value=12 > Bahamas</option>
                  <option value=13 > Bahrain</option>
                  <option value=14 > Bangladesh</option>
                  <option value=15 > Barbados</option>
                  <option value=16 > Belarus</option>
                  <option value=17 > Belgium</option>
                  <option value=18 > Beoptionze</option>
                  <option value=19 > Benin</option>
                  <option value=20 > Bhutan</option>
                  <option value=21 > Booptionvia (Plurinational State of)</option>
                  <option value=22 > Bosnia and Herzegovina</option>
                  <option value=23 > Botswana</option>
                  <option value=24 > Brazil</option>
                  <option value=25 > Brunei Darussalam</option>
                  <option value=26 > Bulgaria</option>
                  <option value=27 > Burkina Faso</option>
                  <option value=28 > Burundi</option>
                  <option value=29 > Cambodia</option>
                  <option value=30 > Cameroon</option>
                  <option value=31 > Canada</option>
                  <option value=32 > Cape Verde</option>
                  <option value=33 > Central African Repuboptionc</option>
                  <option value=34 > Chad</option>
                  <option value=35 > Chile</option>
                  <option value=36 > China</option>
                  <option value=37 > Colombia</option>
                  <option value=38 > Comoros</option>
                  <option value=39 > Congo</option>
                  <option value=40 > Costa Rica</option>
                  <option value=41 > Cote d'Ivoire</option>
                  <option value=42 > Croatia</option>
                  <option value=43 > Cuba</option>
                  <option value=44 > Cyprus</option>
                  <option value=45 > Czech Repuboptionc</option>
                  <option value=46 > Democratic People's Repuboptionc of Korea</option>
                  <option value=47 > Democratic Repuboptionc of the Congo</option>
                  <option value=48 > Denmark</option>
                  <option value=49 > Djibouti</option>
                  <option value=50 > Dominica</option>
                  <option value=51 > Dominican Repuboptionc</option>
                  <option value=52 > Ecuador</option>
                  <option value=53 > Egypt</option>
                  <option value=54 > El Salvador</option>
                  <option value=55 > Equatorial Guinea</option>
                  <option value=56 > Eritrea</option>
                  <option value=57 > Estonia</option>
                  <option value=58 > Ethiopia</option>
                  <option value=59 > Fiji</option>
                  <option value=60 > Finland</option>
                  <option value=61 > France</option>
                  <option value=62 > Gabon</option>
                  <option value=63 > Gambia</option>
                  <option value=64 > Georgia</option>
                  <option value=65 > Germany</option>
                  <option value=66 > Ghana</option>
                  <option value=67 > Greece</option>
                  <option value=68 > Grenada</option>
                  <option value=69 > Guatemala</option>
                  <option value=70 > Guinea</option>
                  <option value=71 > Guinea-Bissau</option>
                  <option value=72 > Guyana</option>
                  <option value=73 > Haiti</option>
                  <option value=74 > Honduras</option>
                  <option value=75 > Hungary</option>
                  <option value=76 > Iceland</option>
                  <option value=77 > India</option>
                  <option value=78 > Indonesia</option>
                  <option value=79 > Iran (Islamic Repuboptionc of)</option>
                  <option value=80 > Iraq</option>
                  <option value=81 > Ireland</option>
                  <option value=82 > Israel</option>
                  <option value=83 > Italy</option>
                  <option value=84 > Jamaica</option>
                  <option value=85 > Japan</option>
                  <option value=86 > Jordan</option>
                  <option value=87 > Kazakhstan</option>
                  <option value=88 > Kenya</option>
                  <option value=89 > Kiribati</option>
                  <option value=90 > Kuwait</option>
                  <option value=91 > Kyrgyzstan</option>
                  <option value=92 > Lao People's Democratic Repuboptionc</option>
                  <option value=93 > Latvia</option>
                  <option value=94 > Lebanon</option>
                  <option value=95 > Lesotho</option>
                  <option value=96 > Optionberia</option>
                  <option value=97 > Optionbya</option>
                  <option value=98 > Optionechtenstein</option>
                  <option value=99 > Optionthuania</option>
                  <option value=100 > Luxembourg</option>
                  <option value=101 > Madagascar</option>
                  <option value=102 > Malawi</option>
                  <option value=103 > Malaysia</option>
                  <option value=104 > Maldives</option>
                  <option value=105 > Maoption</option>
                  <option value=106 > Malta</option>
                  <option value=107 > Marshall Islands</option>
                  <option value=108 > Mauritania</option>
                  <option value=109 > Mauritius</option>
                  <option value=110 > Mexico</option>
                  <option value=111 > Micronesia (Federated States of)</option>
                  <option value=112 > Monaco</option>
                  <option value=113 > Mongooptiona</option>
                  <option value=114 > Montenegro</option>
                  <option value=115 > Morocco</option>
                  <option value=116 > Mozambique</option>
                  <option value=117 > Myanmar</option>
                  <option value=118 > Namibia</option>
                  <option value=119 > Nauru</option>
                  <option value=120 > Nepal</option>
                  <option value=121 > Netherlands</option>
                  <option value=122 > New Zealand</option>
                  <option value=123 > Nicaragua</option>
                  <option value=124 > Niger</option>
                  <option value=125 > Nigeria</option>
                  <option value=126 > Norway</option>
                  <option value=127 > Oman</option>
                  <option value=128 > Pakistan</option>
                  <option value=129 > Palau</option>
                  <option value=130 > Panama</option>
                  <option value=131 > Papua New Guinea</option>
                  <option value=132 > Paraguay</option>
                  <option value=133 > Peru</option>
                  <option value=134 > Phioptionppines</option>
                  <option value=135 > Poland</option>
                  <option value=136 > Portugal</option>
                  <option value=137 > Qatar</option>
                  <option value=138 > Repuboptionc of Korea</option>
                  <option value=139 > Repuboptionc of Moldova</option>
                  <option value=140 > Romania</option>
                  <option value=141 > Russian Federation</option>
                  <option value=142 > Rwanda</option>
                  <option value=143 > Saint Kitts and Nevis</option>
                  <option value=144 > Saint Lucia</option>
                  <option value=145 > Saint Vincent and the Grenadines</option>
                  <option value=146 > Samoa</option>
                  <option value=147 > San Marino</option>
                  <option value=148 > Sao Tome and Principe</option>
                  <option value=149 > Saudi Arabia</option>
                  <option value=150 > Senegal</option>
                  <option value=151 > Serbia</option>
                  <option value=152 > Seychelles</option>
                  <option value=153 > Sierra Leone</option>
                  <option value=154 > Singapore</option>
                  <option value=155 > Slovakia</option>
                  <option value=156 > Slovenia</option>
                  <option value=157 > Solomon Islands</option>
                  <option value=158 > Somaoptiona</option>
                  <option value=159 > South Africa</option>
                  <option value=160 > South Sudan</option>
                  <option value=161 > Spain</option>
                  <option value=162 > Sri Lanka</option>
                  <option value=163 > Sudan</option>
                  <option value=164 > Suriname</option>
                  <option value=165 > Swaziland</option>
                  <option value=166 > Sweden</option>
                  <option value=167 > Switzerland</option>
                  <option value=168 > Syrian Arab Repuboptionc</option>
                  <option value=169 > Tajikistan</option>
                  <option value=170 > Thailand</option>
                  <option value=171 > The former Yugoslav Repuboptionc of Macedonia</option>
                  <option value=172 > Timor-Leste</option>
                  <option value=173 > Togo</option>
                  <option value=174 > Tonga</option>
                  <option value=175 > Trinidad and Tobago</option>
                  <option value=176 > Tunisia</option>
                  <option value=177 > Turkey</option>
                  <option value=178 > Turkmenistan</option>
                  <option value=179 > Tuvalu</option>
                  <option value=180 > Uganda</option>
                  <option value=181 > Ukraine</option>
                  <option value=182 > United Arab Emirates</option>
                  <option value=183 > United Kingdom of Great Britain and Northern Ireland</option>
                  <option value=184 > United Repuboptionc of Tanzania</option>
                  <option value=185 > United States of America</option>
                  <option value=186 > Uruguay</option>
                  <option value=187 > Uzbekistan</option>
                  <option value=188 > Vanuatu</option>
                  <option value=189 > Venezuela (Booptionvarian Repuboptionc of)</option>
                  <option value=190 > Viet Nam</option>
                  <option value=191 > Yemen</option>
                  <option value=192 > Zambia</option>
                  <option value=193 > Zimbabwe</option>
</select>
</td>
      <td><input type='button' id = 'filter_button_left' value = 'Draw Chart' /></td>

    </tr>
  </table>

  <div id="offsetDiv_left">
    <div id="test1_left" class='with-3d-shadow with-transitions'>
      <svg></svg>
    </div>
  </div>

  <div id="detail_left"></div>

</div>

<div id = "right">
  <div>
    <table id="nametable"><tbody><tr> <td><b>Authors:</b> Feng Gao &amp; Shancong Fu </td> </tr>
     <tr><td><b>Professor:</b> Enrico Bertini &middot; Info Visualization 2014 Spring &middot; Dateset: <a href="http://54.227.246.164/dataset/">MY World - UN</a> </td></tr></tbody> </table>
  </div>
  <div>
    <table id="prioritytable"><tbody><tr> <td><b>Priority Values</b> <button style = "float: right" onclick = "removeClass()">Clear</button> </td> </tr>

      <tr> <td style="padding: 0 40px 0 0;">  <ul>
                  <li id="p0"><strong>100</strong> = "Action taken on climate change" </li>
                  <li id="p1"><strong>101</strong> = "Better transport and roads"</li>
                  <li id="p2"><strong>102</strong> = "Support for people who can't work" </li>
                  <li id="p3"><strong>103</strong> = "Access to clean water and sanitation" </li>
                  <li id="p4"><strong>104</strong> = "Better healthcare" </li>
                  <li id="p5"><strong>105</strong> = "A good education" </li>
                  <li id="p6"><strong>106</strong> = "A responsive government we can trust" </li>
                  <li id="p7"><strong>107</strong> = "Phone and internet access" </li>
                  <li id="p8"><strong>108</strong> = "Reliable energy at home" </li>
                  <li id="p9"><strong>109</strong> = "Affordable and nutritious food" </li>
                  <li id="p10"><strong>110</strong> = "Protecting forests, rivers and oceans" </li>
                  <li id="p11"><strong>112</strong> = "Political freedoms" </li>
                  <li id="p12"><strong>111</strong> = "Protection against crime and violence" </li>
                  <li id="p13"><strong>113</strong> = "Freedom from discrimination and persecution" </li>
                  <li id="p14"><strong>114</strong> = "Equality between men and women" </li>
                  <li id="p15"><strong>115</strong> = "Better job opportunities" </li>
                </ul> </td> </tr>
    </tbody> </table>

  </div>

   <div>
    <table id="countrytable"><tbody><tr> <td><b>Education & Gender Values</b> </td><td><b>Country Values</b> </td> </tr>
    <tr>  <td style="padding: 0 0 0 0;"> <ul>
                  <li>1 = "Some primary"</li>
                  <li>2 = "Finished primary"</li>
                  <li>3 = "Some secondary"</li>
                  <li>4 = "Finished secondary"</li>
                  <br>
                  <li>1 = "Male"</li>
                  <li>2 = "Female"</li>
                  <li>0 = "All"</li>
                </ul></td>
<td style="padding: 0 0 10px 0;"> <div id="countrydiv"> <ul>
                  <li>1 = Afghanistan</li>
                  <li>2 = Albania</li>
                  <li>3 = Algeria</li>
                  <li>4 = Andorra</li>
                  <li>5 = Angola</li>
                  <li>6 = Antigua and Barbuda</li>
                  <li>7 = Argentina</li>
                  <li>8 = Armenia</li>
                  <li>9 = Australia</li>
                  <li>10 = Austria</li>
                  <li>11 = Azerbaijan</li>
                  <li>12 = Bahamas</li>
                  <li>13 = Bahrain</li>
                  <li>14 = Bangladesh</li>
                  <li>15 = Barbados</li>
                  <li>16 = Belarus</li>
                  <li>17 = Belgium</li>
                  <li>18 = Belize</li>
                  <li>19 = Benin</li>
                  <li>20 = Bhutan</li>
                  <li>21 = Bolivia (Plurinational State of)</li>
                  <li>22 = Bosnia and Herzegovina</li>
                  <li>23 = Botswana</li>
                  <li>24 = Brazil</li>
                  <li>25 = Brunei Darussalam</li>
                  <li>26 = Bulgaria</li>
                  <li>27 = Burkina Faso</li>
                  <li>28 = Burundi</li>
                  <li>29 = Cambodia</li>
                  <li>30 = Cameroon</li>
                  <li>31 = Canada</li>
                  <li>32 = Cape Verde</li>
                  <li>33 = Central African Republic</li>
                  <li>34 = Chad</li>
                  <li>35 = Chile</li>
                  <li>36 = China</li>
                  <li>37 = Colombia</li>
                  <li>38 = Comoros</li>
                  <li>39 = Congo</li>
                  <li>40 = Costa Rica</li>
                  <li>41 = Cote d'Ivoire</li>
                  <li>42 = Croatia</li>
                  <li>43 = Cuba</li>
                  <li>44 = Cyprus</li>
                  <li>45 = Czech Republic</li>
                  <li>46 = Democratic People's Republic of Korea</li>
                  <li>47 = Democratic Republic of the Congo</li>
                  <li>48 = Denmark</li>
                  <li>49 = Djibouti</li>
                  <li>50 = Dominica</li>
                  <li>51 = Dominican Republic</li>
                  <li>52 = Ecuador</li>
                  <li>53 = Egypt</li>
                  <li>54 = El Salvador</li>
                  <li>55 = Equatorial Guinea</li>
                  <li>56 = Eritrea</li>
                  <li>57 = Estonia</li>
                  <li>58 = Ethiopia</li>
                  <li>59 = Fiji</li>
                  <li>60 = Finland</li>
                  <li>61 = France</li>
                  <li>62 = Gabon</li>
                  <li>63 = Gambia</li>
                  <li>64 = Georgia</li>
                  <li>65 = Germany</li>
                  <li>66 = Ghana</li>
                  <li>67 = Greece</li>
                  <li>68 = Grenada</li>
                  <li>69 = Guatemala</li>
                  <li>70 = Guinea</li>
                  <li>71 = Guinea-Bissau</li>
                  <li>72 = Guyana</li>
                  <li>73 = Haiti</li>
                  <li>74 = Honduras</li>
                  <li>75 = Hungary</li>
                  <li>76 = Iceland</li>
                  <li>77 = India</li>
                  <li>78 = Indonesia</li>
                  <li>79 = Iran (Islamic Republic of)</li>
                  <li>80 = Iraq</li>
                  <li>81 = Ireland</li>
                  <li>82 = Israel</li>
                  <li>83 = Italy</li>
                  <li>84 = Jamaica</li>
                  <li>85 = Japan</li>
                  <li>86 = Jordan</li>
                  <li>87 = Kazakhstan</li>
                  <li>88 = Kenya</li>
                  <li>89 = Kiribati</li>
                  <li>90 = Kuwait</li>
                  <li>91 = Kyrgyzstan</li>
                  <li>92 = Lao People's Democratic Republic</li>
                  <li>93 = Latvia</li>
                  <li>94 = Lebanon</li>
                  <li>95 = Lesotho</li>
                  <li>96 = Liberia</li>
                  <li>97 = Libya</li>
                  <li>98 = Liechtenstein</li>
                  <li>99 = Lithuania</li>
                  <li>100 = Luxembourg</li>
                  <li>101 = Madagascar</li>
                  <li>102 = Malawi</li>
                  <li>103 = Malaysia</li>
                  <li>104 = Maldives</li>
                  <li>105 = Mali</li>
                  <li>106 = Malta</li>
                  <li>107 = Marshall Islands</li>
                  <li>108 = Mauritania</li>
                  <li>109 = Mauritius</li>
                  <li>110 = Mexico</li>
                  <li>111 = Micronesia (Federated States of)</li>
                  <li>112 = Monaco</li>
                  <li>113 = Mongolia</li>
                  <li>114 = Montenegro</li>
                  <li>115 = Morocco</li>
                  <li>116 = Mozambique</li>
                  <li>117 = Myanmar</li>
                  <li>118 = Namibia</li>
                  <li>119 = Nauru</li>
                  <li>120 = Nepal</li>
                  <li>121 = Netherlands</li>
                  <li>122 = New Zealand</li>
                  <li>123 = Nicaragua</li>
                  <li>124 = Niger</li>
                  <li>125 = Nigeria</li>
                  <li>126 = Norway</li>
                  <li>127 = Oman</li>
                  <li>128 = Pakistan</li>
                  <li>129 = Palau</li>
                  <li>130 = Panama</li>
                  <li>131 = Papua New Guinea</li>
                  <li>132 = Paraguay</li>
                  <li>133 = Peru</li>
                  <li>134 = Philippines</li>
                  <li>135 = Poland</li>
                  <li>136 = Portugal</li>
                  <li>137 = Qatar</li>
                  <li>138 = Republic of Korea</li>
                  <li>139 = Republic of Moldova</li>
                  <li>140 = Romania</li>
                  <li>141 = Russian Federation</li>
                  <li>142 = Rwanda</li>
                  <li>143 = Saint Kitts and Nevis</li>
                  <li>144 = Saint Lucia</li>
                  <li>145 = Saint Vincent and the Grenadines</li>
                  <li>146 = Samoa</li>
                  <li>147 = San Marino</li>
                  <li>148 = Sao Tome and Principe</li>
                  <li>149 = Saudi Arabia</li>
                  <li>150 = Senegal</li>
                  <li>151 = Serbia</li>
                  <li>152 = Seychelles</li>
                  <li>153 = Sierra Leone</li>
                  <li>154 = Singapore</li>
                  <li>155 = Slovakia</li>
                  <li>156 = Slovenia</li>
                  <li>157 = Solomon Islands</li>
                  <li>158 = Somalia</li>
                  <li>159 = South Africa</li>
                  <li>160 = South Sudan</li>
                  <li>161 = Spain</li>
                  <li>162 = Sri Lanka</li>
                  <li>163 = Sudan</li>
                  <li>164 = Suriname</li>
                  <li>165 = Swaziland</li>
                  <li>166 = Sweden</li>
                  <li>167 = Switzerland</li>
                  <li>168 = Syrian Arab Republic</li>
                  <li>169 = Tajikistan</li>
                  <li>170 = Thailand</li>
                  <li>171 = The former Yugoslav Republic of Macedonia</li>
                  <li>172 = Timor-Leste</li>
                  <li>173 = Togo</li>
                  <li>174 = Tonga</li>
                  <li>175 = Trinidad and Tobago</li>
                  <li>176 = Tunisia</li>
                  <li>177 = Turkey</li>
                  <li>178 = Turkmenistan</li>
                  <li>179 = Tuvalu</li>
                  <li>180 = Uganda</li>
                  <li>181 = Ukraine</li>
                  <li>182 = United Arab Emirates</li>
                  <li>183 = United Kingdom of Great Britain and Northern Ireland</li>
                  <li>184 = United Republic of Tanzania</li>
                  <li>185 = United States of America</li>
                  <li>186 = Uruguay</li>
                  <li>187 = Uzbekistan</li>
                  <li>188 = Vanuatu</li>
                  <li>189 = Venezuela (Bolivarian Republic of)</li>
                  <li>190 = Viet Nam</li>
                  <li>191 = Yemen</li>
                  <li>192 = Zambia</li>
                  <li>193 = Zimbabwe</li>
                  <li>194 = Palestine (State of)</li>
                </ul> </div>
              </td>

              </tr>

    </tbody> </table>
  </div> 

  <div id = "allbarcharts">
  <div id="barchart" class='barchart'>
    <svg></svg>
  </div>

  <div id="linechart">
    <svg></svg>
  </div>

  </div>



</div>

<script src="static/d3.v3.js"></script>
<script src="static/stupidtable.min.js"></script>
<script src="static/nv.d3.js"></script>
  <script src="static/chosen.jquery.js" type="text/javascript"></script>
<script>

$(document).ready(function(){
$(".chosen-select").chosen()
    $('#filter_button_left').click(function(){
      var ageStart = $('#age_start_left').val();
      var ageEnd = $('#age_end_left').val();
      var gender = $('#gender_left').val();
      var education = $('#education_left').val();
      var country = $('#country_left').val();
      var page = 1;
      var group = $('#groupby').val();
      var urlString = "start=" + ageStart + "&end=" + ageEnd + "&gender=" + gender + "&education="
                      + education +  "&country=" + country + "&p=" + page;
      //console.log(urlString);

      if (group == "Gender") {
           $.ajax({
            type: "GET",
            url: "record/search/group/?callback=abc&group_by=gender&" + urlString,
            dataType: "jsonp",        
            success: function(data) {              
              drawGraph(data, 'left', urlString, 'groupG');
            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });
      } else if (group == "Education") {
           $.ajax({
            type: "GET",
            url: "record/search/group/?callback=abc&group_by=education&" + urlString,
            dataType: "jsonp",        
            success: function(data) {              
              drawGraph(data, 'left', urlString, 'groupE');
            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });
      } else {
           $.ajax({
            type: "GET",
            url: "record/search/aggregation/?callback=abc&" + urlString,
            dataType: "jsonp",        
            success: function(data) {              
              drawGraph(data, 'left', urlString, 'nogroup');
            },
            error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
          });       
      }

    });
});

function drawGraph(source, myPage, urlStr, group) {
  //Format A
  var chart;
  nv.addGraph(function() {
    chart = nv.models.scatterChart()
                  .showDistX(false)
                  .showDistY(false)
                  .useVoronoi(false)
                  .color(d3.scale.category10().range())
                  .transitionDuration(300)
                  ;
                  //------------------------------------------tooltipsection-----------------------------
    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));
    chart.tooltipContent(function(a,b,c,d) {
        //console.log(d["point"]["size"]);
        removeClass();
        var bitstr = d["point"]["bitstring"];
        var buttonID = "#detail_" + myPage;
        var hh = "<button id='showd' onclick = 'displayDetail(\"" + bitstr + "\", \"" + urlStr + "\", \""
                + myPage + "\")' >Show Detail</button>";
        $(buttonID).html(hh);
       // displayDetail(bitstr, urlStr, myPage);
       highlightPri(bitstr);
        return "BitString: <b>" + bitstr + "</b> Count: <b>" + d["point"]["size"] + "</b>" ;
    });
    var pg = "#test1_" + myPage + " svg";
    d3.select(pg)
        .datum(getData(source, group))
        .call(chart);

    nv.utils.windowResize(chart.update);

    chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });

    return chart;
  });  
}

function highlightPri(str) {
  for (i = 0; i < str.length; i++) {
    var j = "#p" + i;
    if (str.charAt(i) == '0') $(j).addClass("fade");
    else $(j).addClass("highlight");
  }
}

function removeClass() {
  for (i = 0; i < 16; i++) {
    var j = "#p" + i;
    $(j).removeClass();
  }
}

function addOne(d) {
  d.digit++;
  console.log(d.digit);
}

function displayDetail(bitstr, urlStr, myPage) {
      $.ajax({
        type: "GET",
        url: "record/search/?callback=abc&bit=" + bitstr + "&" + urlStr,
        dataType: "jsonp",       
        success: function(data) {
          
         showDetailTable(data, myPage);
         barChartGenderEdu(data,myPage);
         lineChartAge(data);
        },
        error : function(httpReq,status,exception){
            alert(status+" "+exception);
        }
      });  
}

function lineChartAge(data) {
  var mydata = [{key: "Both", values :[]},{key: "Male", values :[]},{key: "Female", values :[]}];
  for (i = 0; i < 126; i++) {
    mydata[0].values.push({
      x: i,
      y: 0
    });
    mydata[1].values.push({
      x: i,
      y: 0
    });
    mydata[2].values.push({
      x: i,
      y: 0
    });    
  }
  var list = data["data"]["records"];
  for(i = 0; i < list.length; i++) {
     var index = list[i].age;
     mydata[0].values[index].y++;
     if (list[i].gender == "Male") mydata[1].values[index].y++;
     if (list[i].gender == "Female") mydata[2].values[index].y++;
  }
  console.log(mydata);


  nv.addGraph(function() {
    var chart = nv.models.lineWithFocusChart();

    chart.xAxis
        .tickFormat(d3.format(',f'));

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    chart.y2Axis
        .tickFormat(d3.format(',.2f'));

    d3.select('#linechart svg')
        .datum(mydata)
        .transition().duration(500)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
}

function barChartGenderEdu(data, myPage) {
  var source = data["data"]["records"];
  var myData = [{key: "Male", values: []}, {key: "Female", values: []}];

  for (i = 0; i < 4; i++) {
    myData[0].values.push({
      x: i,
      y: 0
    });

    myData[1].values.push({
      x: i,
      y: 0
    });
  }

  for (i = 0; i < source.length; i++) {
     var ed = parseInt(source[i]["education"].level) - 1;
     //console.log("education is " + ed);
     if (source[i]["gender"] == "Male") {
        myData[0].values[ed].y++;
     } else {
        myData[1].values[ed].y++;
     }
  }
  //console.log("below mydata");
  //console.log(myData);

  drawBar(myData, '#barchart svg');

}

function showDetailTable(data, myPage) {
  var detailHTML = "<table id='sortableTable'><thead><tr><th data-sort='string'>Gender</th><th data-sort='int'>Age</th><th data-sort='string'>Education</th><th data-sort='string'>Country</th></tr></thead><tbody>";
  

  var source = data["data"]["records"];
  //console.log(source);
  var tb = "";
  for (i = 0; i < source.length; i++) {
     tb = tb + "<tr><td>" + source[i]["gender"] + "</td>"
                            + "<td>"     + source[i]["age"] + "</td>"
                            + "<td>"     + source[i]["education"].name + "</td>"
                            + "<td>"     + source[i]["country"].name + "</td>"
                            + "</tr>";
  }
  detailHTML = detailHTML + tb + "</tbody></table>";
  var d = "#detail_" + myPage;
  $(d).html(detailHTML);
  $("#sortableTable").stupidtable();
  
}

function getData(source, group) { //# groups,# points per group
  //console.log(source);
  if (group == "nogroup") {  //no grouping
      var data = [{key: "# of same response",values: []}];
      var objList = source["data"]["bitstrings"];
      
      for (i = 0; i < objList.length; i++) {
        var origin = objList[i]["bitstring"]["origin"];
        var str = objList[i]["bitstring"]["nmds"];
        data[0].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(objList[i]["count"]),
          shape: 'circle',
          bitstring: origin
        });
      }        
  } else if (group == "groupG") {
    //group by gender
    var data = [{key: "Male", values: []}, {key: "Female", values: []}];

    /*
    for (var key in source["data"]) {
      var list = source["data"][key];
       for (i = 0; i < list.length; i++) {
           var origin = list[i]["bitstring"]["origin"];
           var str = list[i]["bitstring"]["nmds"];
           data[key].values.push({
              x: parseFloat(str.split(",")[0]),
              y: parseFloat(str.split(",")[1]),
              size: parseInt(maleArray[i]["count"]),
              shape: 'circle',
              bitstring: origin         
           });        
       }
    }  */
    console.log(source);
    var maleArray = source["data"]["male"];

    var feArray = source["data"]["female"];
    for (i = 0; i < maleArray.length; i++) {
       var origin = maleArray[i]["bitstring"]["origin"];
       var str = maleArray[i]["bitstring"]["nmds"];
       data[0].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(maleArray[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }
    for (i = 0; i < feArray.length; i++) {
       var origin = feArray[i]["bitstring"]["origin"];
       var str = feArray[i]["bitstring"]["nmds"];
       data[1].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(feArray[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }

  } else { //group by education
    var data = [{key: "Edu1", values: []}, {key: "Edu2", values: []}, {key: "Edu3", values: []}, {key: "Edu4", values: []}];
    var e1 = source["data"]["edu1"];
    var e2 = source["data"]["edu2"];
    var e3 = source["data"]["edu3"];
    var e4 = source["data"]["edu4"]; 
    for (i = 0; i < e1.length; i++) {
       var origin = e1[i]["bitstring"]["origin"];
       var str = e1[i]["bitstring"]["nmds"];
       data[0].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(e1[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }
    for (i = 0; i < e2.length; i++) {
       var origin = e2[i]["bitstring"]["origin"];
       var str = e2[i]["bitstring"]["nmds"];
       data[1].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(e2[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }
    for (i = 0; i < e3.length; i++) {
       var origin = e3[i]["bitstring"]["origin"];
       var str = e3[i]["bitstring"]["nmds"];
       data[2].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(e3[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }
    for (i = 0; i < e4.length; i++) {
       var origin = e4[i]["bitstring"]["origin"];
       var str = e4[i]["bitstring"]["nmds"];
       data[3].values.push({
          x: parseFloat(str.split(",")[0]),
          y: parseFloat(str.split(",")[1]),
          size: parseInt(e4[i]["count"]),
          shape: 'circle',
          bitstring: origin         
       });
    }    
  }

    //console.log(data);
  return data;
}

/*---------------------bar chart------------------------*/

function drawBar(data, location) {
  nv.addGraph(function() {
      var chart = nv.models.multiBarChart()
        .transitionDuration(350)
        .reduceXTicks(true)   //If 'false', every single x-axis tick label will be rendered.
        .rotateLabels(0)      //Angle to rotate x-axis labels.
        .showControls(true)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
        .groupSpacing(0.4)    //Distance between each group of bars.
      ;

      chart.xAxis
          .tickFormat(d3.format(',f'));

      chart.yAxis
          .tickFormat(d3.format(',.1f'));

      d3.select(location)
          .datum(data)
          .call(chart);

      nv.utils.windowResize(chart.update);
      //console.log(exampleData());
      return chart;
  });  
}



</script>
